#root {
  height: 100vh;
}
Preview {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  padding: 20px;
}
.bigHeader {
  text-align: center;
}
.content {
  display: flex;
  gap: 3%;
}
label {
  margin-right: 10%;
}
.preview {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cvContainer {
}
.previewContainer {
  margin: 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: #213547 solid 1px;
  width: 100%;
  height: 100%;
}
.cvContainer > h3 {
  text-align: center;
}
.horLine {
  border: solid #213547 1px;
}
fieldset {
  width: 40%;
  border: #213547 solid 0.2em;
  border-radius: 1%;
}
